h1, h2, h3{
    color:blue;
    background-color: yellow;
    font-weight:bold;
    font-weight: 600;

    
        font-family: "Protest Riot", sans-serif;
        font-style: normal;
        font-size: 3rem;
      }      

h1{
text-align:center;
padding:.5rem; 
}

main>p {
    color:Black; 
    font-size:2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:1rem;
    }
  

header>p {
    color:rgb(255, 0, 0);
    background-color: blue;
    font-size:3rem;
    font-weight:bold;
    font-weight: 600;
    text-align:center;
    margin:2rem;
    padding:1rem;
}

 a{
    
     padding:3rem;
     font-size:3rem;
     
 }
 nav {text-align:center;}

 body{background-color:rgb(179, 238, 84);}

 body {
 font-size:3rem;
 color: blue;
 }
 body>p {
 font-family: "Protest Riot", sans-serif;
 font-style: normal;
 font-size: 3rem;
 }
 ol{
     color: black;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size:2rem;
 }
ul{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2rem;
}
