body{
    background-image: url(images/labrador-retriever-vs-golden-retriever-.png);
    background-repeat: no-repeat;
  background-position:top ;
    background-size: cover;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }